<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diablo3Citadel</title>
</head>
<body>
    {% load static %}
<link rel="stylesheet" href="{% static 'diablo3citadel/style.css' %}">
    
{% if top_10_records %}
    <ul>
    {% for item in top_10_records %}
        <li><a href="{% url 'detail' item.id %}">{{ item.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No records are available.</p>
{% endif %}

{% if top_10_items %}
    <ul>
        {% for item in top_10_items %}
            <li><a href="{% url 'itemDetail' item.id %}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}
</body>
</html>

